.matrix-wrapper {
  width: 100%;
  height: 50%;
  background-color: aquamarine;
}
.cell {
  width: 200px;
  height: 100px;
  text-align: center;
  align-content: center;
}

table,
td {
  border: 1px solid #333;
  width: 20%;
  height: 10%;
}

thead,
tfoot {
  background-color: aqua;
  color: #fff;
}
